h2{
  font-size: 3em;
  color: rgb(255, 252, 63);
}

h3{
  font-size: 2em;
  color: black;
  background: rgb(255, 252, 63);
  padding: 0.2em;
  width: 50%;
  border-radius: 1em;
}

h3.gameOver{
  color:red;
}

.game_ctn{
  background: rgba(250, 250, 250, 0.46);
  border-radius: 1em;
  padding: 1em;
}
