.game {
  display: flex;
  width : 700px;
}

button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0.5em;
  border-radius: 1em;
  display: flex;
  align-items: stretch;
  vertical-align: center;
  width : 20em;
}

button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

button:active {
  background-color: #525252;
  color: #fafafa;
}

button.selected {
  background-color: black;
  color: white;
}

button.selected:hover {
  background-color: #505050;
  color: white;
}

button.selected:active {
  background-color: black;
  color: white;
}

.badge {
  display: inline-block;
  font-size: 1em;
  color: black;
  padding: 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 100%;
  vertical-align: center;
  background: rgb(255, 252, 63);;
}

#name {
  align-self: center;
  border-radius: 1em;
  padding:0.5em;
  width : 20em;
}
