h2{
  font-size: 3em;
  color: rgb(255, 252, 63);
}

.create-game-button {
  background-color: green;
  color: white;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.games {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.games li {
  display: flex;
}

.games button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 1.8em;
}

.games button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.games button:active {
  background-color: #525252;
  color: #fafafa;
}

.selected {
  background-color: black;
  color: white;
}

.games button.selected:hover {
  background-color: #505050;
  color: white;
}

.games button.selected:active {
  background-color: black;
  color: white;
}

.games .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.games .name {
  align-self: center;
}

ul{
  background: rgba(250, 250, 250, 0.46);
  padding: 1em;
  border-radius: 1em;
}
